// General Colors
$white: #ffffff;
$black: #000000;

// Main App Colors
$primary-color: #f8df6d;
$secondary-color: #f8f8f8;
$tertiary-color: #323232;

// Font related styles
$app-font-family: 'Poppins', sans-serif;
$text-color: #1c1d1a;
