@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.translate-text-options {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  margin-bottom: 0.75rem;

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: $input-font-size;
    font-weight: 500;

    input {
      @include size(1.5rem);

      accent-color: $text-color;
    }
  }
}

.multiple-words-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: $input-font-size;
  font-weight: 500;
  margin-bottom: 1.25rem;

  input {
    @include size(1.25rem);

    accent-color: $text-color;
  }
}

.translate-text-input-container {
  width: $width-100;
  background-color: $white;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;

  .translate-text-input {
    width: 92%;
    height: $height-100;
    font-size: $input-font-size;
    padding: 1rem;
  }

  .detected-language {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
  }
}
